body{
    font-family:"Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
    padding-top:6em;
	/*white-space:pre;*/
background:#32353A url(../Img/groaw.png) no-repeat 1em 1em;
color:white;
}

/*nav
{
    position:absolute;
    top:5em;
    left:1em;
    width:8em;
}
nav h4
{
    margin:0.5em 0 1em 0;
}
nav ul
{
    font-size:0.9em;
    padding:0;
    list-style:none;
}
nav ul ul
{
    padding-left:2em;
}*/

#navigation
{
position:absolute;
right:1em;
top:1em;
font-weight:bold;
font-size:1.3em;
list-style:none;
margin:0;
}
#navigation li
{
display:inline-block;
margin-left:1em;
}
#navigation a
{
color:white;
text-decoration:none;
}
#navigation a:hover
{
text-decoration:underline;
}

.exception
{
    width:80%;
    color:red;
    border:2px solid orange;
    white-space:pre;
    background:white;
    padding:0 0.5em 0.5em 0.5em;
}
table
{
border-collapse:collapse;
}
td
{
/*border:1px solid grey;*/
}
pre
{
margin:0;
}

.CMessage
{
text-align:center;
list-style:none;
margin:0;
border-bottom:1px solid black;
}

#titre
{
margin:0;
position:absolute;
left:1em;
background-size:100% auto;
background:orange;
background-image:url(../Img/livraison.jpeg);
border-radius:1em;
-moz-border-radius:1em;
height:11.25em;
width:20em;
font-size:0.8em;
}

#titre a
{
position:absolute;
bottom:1em;
left:0;
right:0;
padding:0.3em;
background:rgba(255,255,255,0.7);
text-align:center;
color:black;
font-family: Georgia, "DejaVu Serif", Norasi, serif;
font-weight:normal;
text-decoration:none;
}

ul.boites li.livraison a, #titre.livraison
{
background-image:url(../Img/livraison.jpeg) !important;
}
ul.boites li.interessant a, #titre.interessant
{
background-image:url(../Img/interessant.jpeg) !important;
}
ul.boites li.normal a, #titre.normal
{
background-image:url(../Img/normal.jpeg) !important;
}
ul.boites li.ininteressant a, #titre.ininteressant
{
background-image:url(../Img/ininteressant.jpeg) !important;
}
ul.boites li.poubelle a, #titre.poubelle
{
background-image:url(../Img/poubelle.jpeg) !important;
}
ul.boites li.archives a, #titre.archives
{
background-image:url(../Img/archives.jpeg) !important;
}

label
{
	font-weight:bold;
}

input
{
	width:100%;
}

form .erreur
{
color:red;
}
form .erreur input
{
color:black;
border:2px solid red;
}
form .erreur p
{
text-indent:2em;
}
form textarea
{
width:100%;
height:20em;
}
input[required]
{
background-color:lightgreen;
}
input:invalid 
{
background-color: white;
}
