ul.boites
{
list-style:none;
}
ul.boites li
{
padding:0;
display:inline-block;
margin:1em;
}

ul.boites li h3
{
margin:0;
text-align:center;
}

ul.boites li div
{
background:orange;
border-radius:1em;
height:9em;
width:16em;
position:relative;
}

ul.boites li div p
{
position:absolute;
bottom:0.3em;
left:0;
right:0;
padding:0.5em;
background:rgba(255,255,255,0.5);
text-align:center;
font-size:0.8em;
}
