.lapin {
	height:128px;
	width:111px;
	position:absolute;
	top:161px;
	left:275px;
}

.lapin div
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:url(../Img/spritelapins.png) no-repeat;
}

.lapin div.tete
{
	background-position:-222px 0px;
}

body{
	background: url(../Img/fond.jpeg) repeat;
	padding-top:0;
}

form{
	width:867px;
	height:529px;
	margin:auto;
	position:relative;
	left:-98px;
	background:url(../Img/fond_connexion.jpeg) no-repeat;
}

form label
{
color:black;
}

label
{
position:absolute;
left:411px;
}

label[for=input_mail]
{
top:167px;
}

label[for=input_mdp]
{
top:233px;
}

#input_mail, #input_mdp
{
border:none;
position:absolute;
left:412px;
width:358px;
height:25px;
background:none;
padding-left:10px;
padding-right:10px;
font-size:0.85em;
}

#input_mail
{
top:190px;
}

input[type=submit]
{
position:absolute;
border:none;
width:517px;
height:50px;
left:274px;
top:310px;
font-size:1.2em;
}

input[type=submit]:hover
{
background:rgba(255,255,255,0.3);
}

#input_mdp
{
	top:256px;
}
