ul.messages
{
font-size:0.8em;
list-style:none;
padding:0;
}

ul.messages li
{
position:relative;
padding:0.8em;
}

ul.messages li.nonlu
{
color:blue;
font-weight:bold;
}

ul.messages li.lu, ul.messages li.lu a
{
color:green;
}

ul.messages li:nth-child(odd)
{
background-color:#eee;
}
ul.messages li:nth-child(even)
{
background-color:#fff;
}

ul.messages li:hover
{
background:grey;
}

ul.messages div.date
{
position:absolute;
right:0.8em;
top:0.8em;
}

ul.messages div.num
{
display:none;
}

ul.messages div.sujet
{
font-size:1.1em;
}

ul.messages div.expediteur
{
margin-bottom:0.5em;
}

div.courriel
{
background:white;
border-radius:2em;
-moz-border-radius:2em;
padding:1.3em;
color:#32353A;
position:relative;
}

div.courriel iframe
{
border:none;
width:100%;
height:60%;
}

div.courriel .headers
{
margin-bottom:1em;
text-align:left;
}

div.courriel .headers ul
{
padding:0;
max-height:10em;
overflow:auto;
margin:0;
}

div.courriel .headers ul li
{
display:inline-block;
background-color:#DDD;
border-radius:1em;
-moz-border-radius:1em;
margin:0.2em 0.4em 0.2em 0;
padding:0 0.5em 0 0.5em;
}

div.courriel .headers ul li:hover
{
background-color:#CCC;
}

div.courriel .headers tr
{
padding:1em 1em 0 0;
}

div.courriel .headers th
{
padding-right:1em;
}
