body
{
margin-left:18em;
}
ul.messages
{
list-style:none;
padding:0;
}

ul.messages li
{
padding-bottom:1.5em;
}

ul.messages strong
{
color:red;
}

ul.messages p
{
margin:0.2em 0 0 2em;
}

ul.messages a, .pagination a
{
color:white;
text-decoration:none;
}

ul.messages h4
{
margin:0;
font-size:1.1em;
}
ul.messages a:hover, .pagination a:hover
{
text-decoration:underline;
}

div.courriel
{
background:white;
border-radius:2em;
-moz-border-radius:2em;
padding:1.3em;
color:#32353A;
position:relative;
}
div.courriel h2
{
margin-top:0;
}

div.courriel iframe
{
border:none;
width:100%;
}

div.courriel .headers
{
margin-bottom:1em;
text-align:left;
}

div.courriel .headers ul
{
padding:0;
max-height:10em;
overflow:auto;
margin:0;
}

div.courriel .headers ul li
{
display:inline-block;
background-color:#DDD;
border-radius:1em;
-moz-border-radius:1em;
margin:0.2em 0.4em 0.2em 0;
padding:0 0.5em 0 0.5em;
}

div.courriel .headers ul li:hover
{
background-color:#CCC;
}

div.courriel .headers tr
{
padding:1em 1em 0 0;
}

div.courriel .headers th
{
padding-right:1em;
}

div.courriel .corp
{
font-family: Georgia, "DejaVu Serif", Norasi, serif;
}

.outils_courriel
{
position:absolute;
left:2em;
font-size:0.8em;
margin-top:12em;
}

.outils_courriel ul
{
list-style:none;
margin:1em 0 0 0;
padding:0;
}

.outils_courriel a
{
font-weight:bold;
color:white;
text-decoration:none;
}

.outils_courriel a:hover
{
text-decoration:underline;
}

.outils_courriel .outils_base
{
font-size:1.2em;
}

ul.boites_deplacement
{
padding-left:1.5em;
}
ul.boites_deplacement a
{
font-weight:normal;
}
ul.boites_deplacement li
{
padding-bottom:0.4em;
}

ul.boites_deplacement ul
{
margin:0;
padding-left:1.5em;
}

ul.boites_deplacement h4
{
margin:0;
}
