body{
    font-family:"Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
    padding-left:10em;
	/*white-space:pre;*/
}

nav
{
    position:absolute;
    top:4em;
    left:1em;
    width:8em;
}
nav h4
{
    margin:0.5em 0 1em 0;
}
nav ul
{
    font-size:0.9em;
    padding:0;
    list-style:none;
}
nav ul ul
{
    padding-left:2em;
}
.exception
{
    width:80%;
    color:red;
    border:2px solid orange;
    white-space:pre;
    background:white;
    padding:0 0.5em 0.5em 0.5em;
}
table
{
border-collapse:collapse;
}
td
{
border:1px solid grey;
}

table.messages
{
	font-size:0.8em;
}
