body{
    font-family:"Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Verdana, sans-serif;
    padding-left:10em;
	/*white-space:pre;*/
background:#32353A;
color:white;
}

nav
{
    position:absolute;
    top:4em;
    left:1em;
    width:8em;
}
nav h4
{
    margin:0.5em 0 1em 0;
}
nav ul
{
    font-size:0.9em;
    padding:0;
    list-style:none;
}
nav ul ul
{
    padding-left:2em;
}
#bouton_deconnexion
{
position:absolute;
right:1em;
top:1em;
font-weight:bold;
}
nav a, #bouton_deconnexion
{
color:white;
text-decoration:none;
}
nav a:hover, #bouton_deconnexion:hover
{
	text-decoration:underline;
}
.exception
{
    width:80%;
    color:red;
    border:2px solid orange;
    white-space:pre;
    background:white;
    padding:0 0.5em 0.5em 0.5em;
}
table
{
border-collapse:collapse;
}
td
{
border:1px solid grey;
}

ul.messages
{
font-size:0.8em;
list-style:none;
padding:0;
}

ul.messages li
{
position:relative;
padding:0.8em;
}

ul.messages li.nonlu
{
color:blue;
}

ul.messages li:nth-child(odd)
{
background-color:#eee;
}
ul.messages li:nth-child(even)
{
background-color:#fff;
}

ul.messages li:hover
{
background:grey;
}

ul.messages div.date
{
position:absolute;
right:0.8em;
top:0.8em;
}

ul.messages div.num
{
display:none;
}

ul.messages div.sujet
{
font-weight:bold;
font-size:1.1em;
}

ul.messages div.expediteur
{
margin-bottom:0.5em;
}
